* {
    box-sizing: border-box;
}

html {
    font-size: 100%;
    line-height: 1.5;
    font-family: newsreader, serif;
}

body {
    margin: 0 5%;
    background: #eee;
}

h1, h2, h3 {
    font-family: "big shoulders text", sans-serif;
    text-transform: uppercase;
}

h3 {
    font-size: 1.5em;
    margin: 0;
}

#wrapper {
    max-width: 60em;
    margin: 0 auto;
    background: #fff;
    padding: 3em;
}

#header {
    margin: 0 0 3em;
}

#header h1 {
    font-size: 1em;
    margin: 0;
}

#header h1 img {
    display: block;
    max-width: 100%;
}

#header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    border-top: 5px double #000;
    border-bottom: 1px solid #000;
}

#header nav ul li {
    flex: 1;
}

#header nav ul li a {
    display: block;
    color: #000;
    text-decoration: none;
    padding: 2em 0;
    font-size: .75em;
    line-height: 1rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

#header nav ul li + li {
    border-left: 1px solid #000;
}

#header nav ul li a:hover {
    background: #eee;
}

/*
RESEPTI
 */

.recipe header {
    display: flex;
    justify-content: space-between;
    gap: 1.5em;
    border-bottom: 5px double #333;
    padding: 0 0 1.5em;
}

.recipe .header-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
}

.recipe figure {
    padding: 0;
    margin: 0;
    flex: 2;
}

.recipe img {
    display: block;
    max-width: 100%;
}

.recipe h1 {
    font-size: 2em;
    line-height: 1.2;
    margin: 0;
}

.user p {
    margin: 0;
}

.user p#editRecipe {
    margin-bottom: 1.5em;
    line-height: 1;
}

.user p#editRecipe a {
    padding: 1rem 1.5rem;
    border: 1px solid #000;
    display: block;
    text-align: center;
    font-size: .75em;
    line-height: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.user p#editRecipe a:hover {
    background: #eee;
}

.recipe .content {
    display: flex;
}

.recipe .content .ingredients {
    border-right: 1px solid #000;
    padding: 0 3em 3em 0;
    flex: 2;
}

.recipe .content .directions {
    padding: 0 3em;
    flex: 3;
}

.recipe ul, .recipe ol {
    margin: 0;
    padding: 0;
}

.recipe ul, .recipe ol {
    list-style: none;
}

.recipe ol {
    counter-reset: ol
}

.recipe ol li:before {
    content: counter(ol) ". ";
    counter-increment: ol;
    font-weight: bold
}

.recipe h2 {
    font-size: 1.25em;
    margin: 3rem 0 1.5rem;
}

/* LOMAKE */

#meta p {
    display: flex;
}

#meta p label {
    display: block;
    width: 10em;
}

#ingredients ul, #directions ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

#ingredients ul li, #ingredients ol li {
    margin-top: 1em;
}

#ingredients ul li+li, #ingredients ol li+li {
    margin-top: 1em;
}

#ingredients label, #directions label {
    visibility: hidden;
    width: 0;
    height: 0;
    display: block;
}

#ingredients input, #directions textarea {
    width: 80%;
}

textarea, input {
    font-family: inherit;
    line-height: inherit;
    font-size: inherit;
}

a {
    color: black;
    text-decoration: none
}

a:hover {
    color: #0c411e;
    text-decoration: underline;
}


/* PROFIILI */
.profile {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    border-bottom: 5px double #000;
}

#profiili {
    margin: 20px;
    padding: 20px;
    width: 200px;
    justify-content: flex-start;
    align-items: center;
    /*border-left: black 1px solid;*/
}

#reseptit {
    margin: 20px;
    padding: 20px;
    flex-flow: column wrap;
    justify-content: center;
   /* border-left: black 1px solid;*/
}

.profile ul {
    padding-left: 20px;
}

/* KORTIT */

#recipes {
    display: flex;
    flex-flow: row wrap;
}
.kortti {
    margin: 10px;
    border-bottom: 1px solid #000;
}
@media screen and (max-width: 1025px) {
    #recipes img {
        width: 300px;
    }
}